* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(204, 200, 207);
}

.top {
    width: 390px;
    height: 430px;
    margin: auto;
    background: blue;
    color: white;
    padding: 40px 30px;
}

@media (max-width: 390px) {
    .top,
    .form-box {
        width: 100%;
    }

    .top {
        padding-left: 20px;
        padding-right: 20px;
    }

    .form-box {
        padding-left: 20px;
        padding-right: 20px;
    }

    .line {
        width: 50px;
    }
}

.top h2 {
    font-size: 22px;
    margin-bottom: 30px;
}


.camera ,img{
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
}

.top p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.form-box {
    width: 390px;
    min-height: 650px;

    margin: -1px auto 0;

    background: white;

    padding: 40px 30px;

    border-radius: 40px 40px 0 0;
}

.steps {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 45px;
}

.steps span {
    width: 45px;
    height: 45px;

    border: 2px solid #ccc;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.steps .active {
    background: #102b78;
    color: white;
    border: none;
}

.line {
    width: 80px;
    height: 2px;
    background: #ccc;
}


.title {
    text-align: center;
    margin-bottom: 50px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 8px;
}

small {
    color: #999;
    font-weight: normal;
}


input {
    width: 100%;
    padding: 10px 0;

    border: none;
    border-bottom: 2px solid #ccc;

    font-size: 16px;
    outline: none;
}


textarea {
    width: 100%;
    height: 150px;

    padding: 15px;

    border: 2px solid #ccc;
    border-radius: 10px;

    font-size: 16px;

    resize: none;
}


button {
    display: block;

    width: 220px;
    padding: 18px;

    margin: 30px auto;

    background: #102b78;
    color: white;

    border: none;
    border-radius: 8px;

    font-weight: bold;
}